/.idea/
/.idea/*.xml
/.htaccess
/var/
/var/generation/
/var/cache/
/var/page_cache/
/var/di/
/var/view_preprocessed/
/pub/media/
/app/code/Darsh/
/app/code/Magestore/
/app/bootstrap.php
/app/etc/
/app/etc/config.php
/app/etc/env.php

/pub/
/pub/static/
/pub/errors/

/dev/tests/


