.flex-direction-nav a{
    height:45px;
}
.flexslider .flex-direction-nav a,
.flexslider .flex-direction-nav a {
    display: block; /* I added this line */
}
.flex-direction-nav .flex-next { right: 0 !important; margin-right: -40px; opacity: 1 !important; }
.flex-direction-nav .flex-prev { left: 0 !important; opacity: 1 !important; margin-left: -40px; }
.flexslider { width: 90%; margin: 0 auto; }
.bc-banner-slider a.banner-img{
    position: relative;
}
.bc-banner-slider .flex-caption {
    width: 96%;
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgba(12,12,12,0.4);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
    position: absolute;
}
@media screen and (min-width: 320px) {
    .flex-direction-nav a{
        width: 15px;
        height: 25px;
    }
    .flex-direction-nav a::before {
        font-size: 20px;
    }
    .flex-direction-nav .flex-prev{
        margin-left: -25px;
    }
    .flex-direction-nav .flex-next{
        margin-right: -25px;
    }
}